body {
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
  font-size: 30px;
}

.colorLi {
  background-color: orange;
}

ol {
  font-size: 40px;
  background-color: rgb(205, 246, 246);
}

.trafficLightsWrapper {
  display: flex;
  justify-content: center;
}
.trafficLights {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(29, 50, 43);
}

.circle {
  height: 100px;
  width: 100px;
  border: 2px solid white;
  margin: 20px;
  border-radius: 50%;
}

.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}

.buttonTrafficLights {
  font-size: 40px;
  background-color: rgb(75, 177, 255);
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}
