body {
  padding: 0;
  margin: 0;
}

.circle {
  height: 100px;
  width: 100px;
  border: 2px solid white;
  margin: 20px;
  border-radius: 50%;
}

.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}

.random {
  font-size: 50px;
  width: 300px;
  height: 200px;
  background-color: aquamarine;
}
.button {
  font-size: 40px;
  background-color: rgb(75, 177, 255);
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

ol {
  font-size: 35px;
  font-weight: 800;
  line-height: 1.5;
}

li {
  font-size: 25px;
  font-weight: 600;
}

.youRandom {
  background-color: aquamarine;
  height: 200px;
  width: 800px;
  margin: 0 auto;
  border: 2px dotted;
}

.random1 {
  height: 100px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.random2 {
  height: 100px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
